@tailwind base;
@layer base {
  html {
    @apply text-neutral-800;
  }

  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
